absl-py==2.1.0 ; python_version >= "3.8" and python_version < "3.9"
aiohappyeyeballs==2.4.3 ; python_version >= "3.8" and python_version < "3.9"
aiohttp==3.10.10 ; python_version >= "3.8" and python_version < "3.9"
aiosignal==1.3.1 ; python_version >= "3.8" and python_version < "3.9"
annotated-types==0.7.0 ; python_version >= "3.8" and python_version < "3.9"
appnope==0.1.4 ; python_version >= "3.8" and python_version < "3.9" and (platform_system == "Darwin" or sys_platform == "darwin")
asttokens==2.4.1 ; python_version >= "3.8" and python_version < "3.9"
astunparse==1.6.3 ; python_version >= "3.8" and python_version < "3.9"
async-timeout==4.0.3 ; python_version >= "3.8" and python_version < "3.9"
attrs==24.2.0 ; python_version >= "3.8" and python_version < "3.9"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.9"
cachetools==5.5.0 ; python_version >= "3.8" and python_version < "3.9"
certifi==2024.8.30 ; python_version >= "3.8" and python_version < "3.9"
cffi==1.17.1 ; python_version >= "3.8" and python_version < "3.9" and implementation_name == "pypy"
chardet==5.2.0 ; python_version >= "3.8" and python_version < "3.9"
charset-normalizer==3.4.0 ; python_version >= "3.8" and python_version < "3.9"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.9" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.2 ; python_version >= "3.8" and python_version < "3.9"
cycler==0.12.1 ; python_version >= "3.8" and python_version < "3.9"
cython==0.29.14 ; python_version >= "3.8" and python_version < "3.9"
debugpy==1.8.7 ; python_version >= "3.8" and python_version < "3.9"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.9"
dgl @ https://data.dgl.ai/wheels/torch-2.1/dgl-2.4.0-cp38-cp38-manylinux1_x86_64.whl ; python_version >= "3.8" and python_version < "3.9"
executing==2.1.0 ; python_version >= "3.8" and python_version < "3.9"
filelock==3.16.1 ; python_version >= "3.8" and python_version < "3.9"
flatbuffers==2.0.7 ; python_version >= "3.8" and python_version < "3.9"
frozenlist==1.4.1 ; python_version >= "3.8" and python_version < "3.9"
fsspec==2024.9.0 ; python_version >= "3.8" and python_version < "3.9"
gast==0.4.0 ; python_version >= "3.8" and python_version < "3.9"
gensim==3.8.3 ; python_version >= "3.8" and python_version < "3.9"
google-auth-oauthlib==1.0.0 ; python_version >= "3.8" and python_version < "3.9"
google-auth==2.35.0 ; python_version >= "3.8" and python_version < "3.9"
google-pasta==0.2.0 ; python_version >= "3.8" and python_version < "3.9"
grpcio==1.66.2 ; python_version >= "3.8" and python_version < "3.9"
h5py==3.11.0 ; python_version >= "3.8" and python_version < "3.9"
idna==3.10 ; python_version >= "3.8" and python_version < "3.9"
importlib-metadata==8.5.0 ; python_version >= "3.8" and python_version < "3.9"
ipykernel==6.29.5 ; python_version >= "3.8" and python_version < "3.9"
ipython==8.12.3 ; python_version >= "3.8" and python_version < "3.9"
jedi==0.19.1 ; python_version >= "3.8" and python_version < "3.9"
jinja2==3.1.4 ; python_version >= "3.8" and python_version < "3.9"
joblib==1.4.2 ; python_version >= "3.8" and python_version < "3.9"
jupyter-client==8.6.3 ; python_version >= "3.8" and python_version < "3.9"
jupyter-core==5.7.2 ; python_version >= "3.8" and python_version < "3.9"
keras-preprocessing==1.1.2 ; python_version >= "3.8" and python_version < "3.9"
keras==2.7.0 ; python_version >= "3.8" and python_version < "3.9"
kiwisolver==1.4.7 ; python_version >= "3.8" and python_version < "3.9"
libclang==18.1.1 ; python_version >= "3.8" and python_version < "3.9"
lightning-utilities==0.11.7 ; python_version >= "3.8" and python_version < "3.9"
markdown==3.7 ; python_version >= "3.8" and python_version < "3.9"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "3.9"
matplotlib-inline==0.1.7 ; python_version >= "3.8" and python_version < "3.9"
matplotlib==3.2.2 ; python_version >= "3.8" and python_version < "3.9"
mpmath==1.3.0 ; python_version >= "3.8" and python_version < "3.9"
multidict==6.1.0 ; python_version >= "3.8" and python_version < "3.9"
nest-asyncio==1.6.0 ; python_version >= "3.8" and python_version < "3.9"
networkx==2.5 ; python_version >= "3.8" and python_version < "3.9"
node2vec==0.3.3 ; python_version >= "3.8" and python_version < "3.9"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.9"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-nccl-cu12==2.18.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-nvjitlink-cu12==12.6.77 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
nxt-gem @ git+https://github.com/palash1992/GEM.git@ae8e92d34213f5785757b4a0943bd7d8d337adb3 ; python_version >= "3.8" and python_version < "3.9"
oauthlib==3.2.2 ; python_version >= "3.8" and python_version < "3.9"
opt-einsum==3.4.0 ; python_version >= "3.8" and python_version < "3.9"
packaging==24.1 ; python_version >= "3.8" and python_version < "3.9"
pandas==2.0.3 ; python_version >= "3.8" and python_version < "3.9"
parso==0.8.4 ; python_version >= "3.8" and python_version < "3.9"
pexpect==4.9.0 ; python_version >= "3.8" and python_version < "3.9" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.9"
pillow==10.4.0 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==4.3.6 ; python_version >= "3.8" and python_version < "3.9"
prompt-toolkit==3.0.48 ; python_version >= "3.8" and python_version < "3.9"
propcache==0.2.0 ; python_version >= "3.8" and python_version < "3.9"
protobuf==3.20.3 ; python_version >= "3.8" and python_version < "3.9"
psutil==6.0.0 ; python_version >= "3.8" and python_version < "3.9"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.9" and sys_platform != "win32"
pure-eval==0.2.3 ; python_version >= "3.8" and python_version < "3.9"
pyasn1-modules==0.4.1 ; python_version >= "3.8" and python_version < "3.9"
pyasn1==0.6.1 ; python_version >= "3.8" and python_version < "3.9"
pycparser==2.22 ; python_version >= "3.8" and python_version < "3.9" and implementation_name == "pypy"
pydantic-core==2.23.4 ; python_version >= "3.8" and python_version < "3.9"
pydantic==2.9.2 ; python_version >= "3.8" and python_version < "3.9"
pyg-lib @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/pyg_lib-0.4.0%2Bpt21cpu-cp38-cp38-linux_x86_64.whl ; python_version >= "3.8" and python_version < "3.9"
pygments==2.18.0 ; python_version >= "3.8" and python_version < "3.9"
pyparsing==3.1.4 ; python_version >= "3.8" and python_version < "3.9"
python-dateutil==2.9.0.post0 ; python_version >= "3.8" and python_version < "3.9"
python-louvain==0.16 ; python_version >= "3.8" and python_version < "3.9"
pytz==2024.2 ; python_version >= "3.8" and python_version < "3.9"
pywin32==308 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.9"
pyyaml==6.0.2 ; python_version >= "3.8" and python_version < "3.9"
pyzmq==26.2.0 ; python_version >= "3.8" and python_version < "3.9"
requests-oauthlib==2.0.0 ; python_version >= "3.8" and python_version < "3.9"
requests==2.32.3 ; python_version >= "3.8" and python_version < "3.9"
rsa==4.9 ; python_version >= "3.8" and python_version < "3.9"
scikit-learn==0.24.0 ; python_version >= "3.8" and python_version < "3.9"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.9"
setuptools==75.1.0 ; python_version >= "3.8" and python_version < "3.9"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
smart-open==7.0.5 ; python_version >= "3.8" and python_version < "3.9"
stack-data==0.6.3 ; python_version >= "3.8" and python_version < "3.9"
stellargraph==1.2.1 ; python_version >= "3.8" and python_version < "3.9"
sympy==1.13.3 ; python_version >= "3.8" and python_version < "3.9"
tensorboard-data-server==0.7.2 ; python_version >= "3.8" and python_version < "3.9"
tensorboard==2.14.0 ; python_version >= "3.8" and python_version < "3.9"
tensorflow-estimator==2.7.0 ; python_version >= "3.8" and python_version < "3.9"
tensorflow-io-gcs-filesystem==0.21.0 ; python_version >= "3.8" and python_version < "3.9"
tensorflow==2.7.2 ; python_version >= "3.8" and python_version < "3.9"
termcolor==2.4.0 ; python_version >= "3.8" and python_version < "3.9"
theano==1.0.5 ; python_version >= "3.8" and python_version < "3.9"
threadpoolctl==3.5.0 ; python_version >= "3.8" and python_version < "3.9"
torch-geometric==2.6.1 ; python_version >= "3.8" and python_version < "3.9"
torch-sparse @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_sparse-0.6.18%2Bpt21cpu-cp38-cp38-linux_x86_64.whl ; python_version >= "3.8" and python_version < "3.9"
torch==2.1.2 ; python_version >= "3.8" and python_version < "3.9"
torchmetrics==1.4.3 ; python_version >= "3.8" and python_version < "3.9"
torchvision==0.16.2 ; python_version >= "3.8" and python_version < "3.9"
tornado==6.4.1 ; python_version >= "3.8" and python_version < "3.9"
tqdm==4.66.5 ; python_version >= "3.8" and python_version < "3.9"
traitlets==5.14.3 ; python_version >= "3.8" and python_version < "3.9"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.8" and python_version < "3.9"
typing-extensions==4.12.2 ; python_version >= "3.8" and python_version < "3.9"
tzdata==2024.2 ; python_version >= "3.8" and python_version < "3.9"
urllib3==2.2.3 ; python_version >= "3.8" and python_version < "3.9"
wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "3.9"
werkzeug==3.0.4 ; python_version >= "3.8" and python_version < "3.9"
wheel==0.44.0 ; python_version >= "3.8" and python_version < "3.9"
wrapt==1.16.0 ; python_version >= "3.8" and python_version < "3.9"
yarl==1.15.2 ; python_version >= "3.8" and python_version < "3.9"
zipp==3.20.2 ; python_version >= "3.8" and python_version < "3.9"
