absl-py==2.2.2 ; python_version == "3.8"
aiohappyeyeballs==2.4.4 ; python_version == "3.8"
aiohttp==3.10.11 ; python_version == "3.8"
aiosignal==1.3.1 ; python_version == "3.8"
appnope==0.1.4 ; (platform_system == "Darwin" or sys_platform == "darwin") and python_version == "3.8"
asttokens==3.0.0 ; python_version == "3.8"
astunparse==1.6.3 ; python_version == "3.8"
async-timeout==5.0.1 ; python_version == "3.8"
attrs==25.3.0 ; python_version == "3.8"
backcall==0.2.0 ; python_version == "3.8"
cachetools==5.5.2 ; python_version == "3.8"
certifi==2025.1.31 ; python_version == "3.8"
cffi==1.17.1 ; implementation_name == "pypy" and python_version == "3.8"
chardet==5.2.0 ; python_version == "3.8"
charset-normalizer==3.4.1 ; python_version == "3.8"
colorama==0.4.6 ; python_version == "3.8" and (sys_platform == "win32" or platform_system == "Windows")
comm==0.2.2 ; python_version == "3.8"
communities==2.2.0 ; python_version == "3.8"
cycler==0.12.1 ; python_version == "3.8"
cython==0.29.14 ; python_version == "3.8"
debugpy==1.8.13 ; python_version == "3.8"
decorator==5.2.1 ; python_version == "3.8"
executing==2.2.0 ; python_version == "3.8"
filelock==3.16.1 ; python_version == "3.8"
flatbuffers==2.0.7 ; python_version == "3.8"
frozenlist==1.5.0 ; python_version == "3.8"
fsspec==2025.3.0 ; python_version == "3.8"
gast==0.4.0 ; python_version == "3.8"
gensim==3.8.3 ; python_version == "3.8"
google-auth-oauthlib==1.0.0 ; python_version == "3.8"
google-auth==2.38.0 ; python_version == "3.8"
google-pasta==0.2.0 ; python_version == "3.8"
grpcio==1.70.0 ; python_version == "3.8"
h5py==3.11.0 ; python_version == "3.8"
idna==3.10 ; python_version == "3.8"
importlib-metadata==8.5.0 ; python_version == "3.8"
ipykernel==6.29.5 ; python_version == "3.8"
ipython==8.12.3 ; python_version == "3.8"
jedi==0.19.2 ; python_version == "3.8"
jinja2==3.1.6 ; python_version == "3.8"
joblib==1.4.2 ; python_version == "3.8"
jupyter-client==8.6.3 ; python_version == "3.8"
jupyter-core==5.7.2 ; python_version == "3.8"
karateclub==1.0.19 ; python_version == "3.8"
keras-preprocessing==1.1.2 ; python_version == "3.8"
keras==2.7.0 ; python_version == "3.8"
kiwisolver==1.4.7 ; python_version == "3.8"
libclang==18.1.1 ; python_version == "3.8"
lightning-utilities==0.11.9 ; python_version == "3.8"
markdown==3.7 ; python_version == "3.8"
markupsafe==2.1.5 ; python_version == "3.8"
matplotlib-inline==0.1.7 ; python_version == "3.8"
matplotlib==3.2.2 ; python_version == "3.8"
mpmath==1.3.0 ; python_version == "3.8"
multidict==6.1.0 ; python_version == "3.8"
nest-asyncio==1.6.0 ; python_version == "3.8"
networkx==2.5 ; python_version == "3.8"
node2vec==0.3.3 ; python_version == "3.8"
numpy==1.24.4 ; python_version == "3.8"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-nccl-cu12==2.18.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-nvjitlink-cu12==12.8.93 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
nxt-gem @ git+https://github.com/palash1992/GEM.git@ae8e92d34213f5785757b4a0943bd7d8d337adb3 ; python_version == "3.8"
oauthlib==3.2.2 ; python_version == "3.8"
opt-einsum==3.4.0 ; python_version == "3.8"
packaging==24.2 ; python_version == "3.8"
pandas==2.0.3 ; python_version == "3.8"
parso==0.8.4 ; python_version == "3.8"
pexpect==4.9.0 ; sys_platform != "win32" and python_version == "3.8"
pickleshare==0.7.5 ; python_version == "3.8"
pillow==10.4.0 ; python_version == "3.8"
platformdirs==4.3.6 ; python_version == "3.8"
prompt-toolkit==3.0.50 ; python_version == "3.8"
propcache==0.2.0 ; python_version == "3.8"
protobuf==3.20.3 ; python_version == "3.8"
psutil==7.0.0 ; python_version == "3.8"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_version == "3.8"
pure-eval==0.2.3 ; python_version == "3.8"
pyasn1-modules==0.4.2 ; python_version == "3.8"
pyasn1==0.6.1 ; python_version == "3.8"
pycparser==2.22 ; implementation_name == "pypy" and python_version == "3.8"
pygments==2.19.1 ; python_version == "3.8"
pygsp==0.5.1 ; python_version == "3.8"
pyparsing==3.1.4 ; python_version == "3.8"
python-dateutil==2.9.0.post0 ; python_version == "3.8"
python-louvain==0.16 ; python_version == "3.8"
pytz==2025.2 ; python_version == "3.8"
pywin32==310 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version == "3.8"
pyzmq==26.4.0 ; python_version == "3.8"
requests-oauthlib==2.0.0 ; python_version == "3.8"
requests==2.32.3 ; python_version == "3.8"
rsa==4.9 ; python_version == "3.8"
scikit-learn==0.24.0 ; python_version == "3.8"
scipy==1.10.1 ; python_version == "3.8"
setuptools==75.3.2 ; python_version == "3.8"
six==1.17.0 ; python_version == "3.8"
smart-open==7.1.0 ; python_version == "3.8"
stack-data==0.6.3 ; python_version == "3.8"
stellargraph @ git+https://github.com/stellargraph/stellargraph.git@3c2c8c18ab4c5c16660f350d8e23d7dc39e738de ; python_version == "3.8"
sympy==1.13.3 ; python_version == "3.8"
tensorboard-data-server==0.7.2 ; python_version == "3.8"
tensorboard==2.14.0 ; python_version == "3.8"
tensorflow-estimator==2.7.0 ; python_version == "3.8"
tensorflow-io-gcs-filesystem==0.21.0 ; python_version == "3.8"
tensorflow==2.7.2 ; python_version == "3.8"
termcolor==2.4.0 ; python_version == "3.8"
theano==1.0.5 ; python_version == "3.8"
threadpoolctl==3.5.0 ; python_version == "3.8"
torch-geometric==2.6.1 ; python_version == "3.8"
torch-scatter @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_scatter-2.1.2%2Bpt21cpu-cp38-cp38-linux_x86_64.whl ; python_version == "3.8"
torch-sparse @ https://data.pyg.org/whl/torch-2.1.0%2Bcpu/torch_sparse-0.6.18%2Bpt21cpu-cp38-cp38-linux_x86_64.whl ; python_version == "3.8"
torch==2.1.2 ; python_version == "3.8"
torchmetrics==1.5.2 ; python_version == "3.8"
torchvision==0.16.2 ; python_version == "3.8"
tornado==6.4.2 ; python_version == "3.8"
tqdm==4.67.1 ; python_version == "3.8"
traitlets==5.14.3 ; python_version == "3.8"
triton==2.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.8"
typing-extensions==4.13.1 ; python_version == "3.8"
tzdata==2025.2 ; python_version == "3.8"
urllib3==2.2.3 ; python_version == "3.8"
wcwidth==0.2.13 ; python_version == "3.8"
werkzeug==3.0.6 ; python_version == "3.8"
wheel==0.45.1 ; python_version == "3.8"
wrapt==1.17.2 ; python_version == "3.8"
yarl==1.15.2 ; python_version == "3.8"
zipp==3.20.2 ; python_version == "3.8"
